
body {
	background-color: transparent;
	font-size: 16px;
	padding-top: 50px; /* For fixed nav */
	/* font-family: 'Open Sans'; */
	font: 'Comic Sans MS';
}

.grey-theme {
	background-color: #E6E8E3;
	color: #333;
}
.blue-theme {
	background-color: #428bca;
	color: white;
}
.white-theme {
	background-color: white;
	color: #333;
}

h1 {
	font-size: 66px;
}

h2 {
	font-size: 45px;
	color: orange;
}

.large-text{
	font-size: 66px;
	font-weight: bold;
	text-align: center;
	color: #428bca;
}

.tlink{
	text-decoration: none;
	text-align: center;
}

/* Navbar */
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:active {
	color: orange;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active {
	color: orange;
	background-color: transparent;
}



.wrap{
    overflow: hidden;
}

/* Banner */
#banner {
    background-image: url("../assets/img/SuprAcademy_AppDesign.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 20%;

    /*min-height: 300px;*/
}
#banner h4 {
	font-weight: normal;
}
#banner-overlay {
    padding: 20% 5%;
	background: rgba(0, 0, 0, .2); /* Fall-back for browsers that don't support rgba */
  	color: white;
    /*box-shadow: 0 1px 0 0 rgba(255,255,255,.35);*/
}

#banner h1,
#banner h2{
    margin: 0px;
}

#banner-overlay-title{
    margin-bottom: 20px;
}

#banner h2{
    padding: 10px 14px;
    font-size: 26px;
    display: inline-block;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

#banner h2 a{
    color: #fff;
}




/* Home */
.strip {
	padding-top: 50px;
	padding-bottom: 50px;
}
.strip h1 {
	margin-top: 0px;
}

#triangle-upper {
	display: block;
}
#triangle-student {
	margin-left: auto;
	margin-right: auto;
}
.img-triangle {
	width: 48%;
}

/* The How */
#the-how.strip {
	padding-bottom: 0px;
	margin-top: 40px;
}
#the-how .card{
	height: 600px;
	background-size: 100%;
	background-repeat: no-repeat;
}
#component-in-person {
	background-image: url("img/student_and_guide.jpg");
}
.card-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0px;
	bottom: 0;
	padding: 80px 40px 40px 40px;
	z-index: 200;
	color: white;
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't
	support rgba */
	background: rgba(0, 0, 0, .6);
}
#component-online {
	background-image: url("img/student_studying_online.jpg");
}
#component-parent {
	background-image: url("img/parent_involvement_original.jpg");
}
#the-how .panel {
	height: 330px;
}
#the-how .panel-body {
	height: 100%;
}
#the-how img {
	height: 300px;
}
#the-how .left-img {
	margin-right: 20px;
}
#the-how h2 {
	margin-top: 0px;
}

/* How We Help */
#type-of-help {
	color: white;
}
#type-of-help h1 {
	margin-bottom: 80px;
}
#type-of-help .row {
	margin-bottom: 40px;
}

#enroll h1 {
	margin-bottom: 80px;
}
#enroll p {
	font-size: 34px;
}
#enroll .row {
	margin-bottom: 70px;
}

/* Learn More */
#learn-more .row {
	/*margin-bottom: 40px;*/
}
#learn-more h1 {
	margin-bottom: 80px;
}
#learn-more p {
	font-size: 36px;
}
#learn-more {
	background-image: url("img/notes.jpg");
	background-color:rgba(0, 0, 0, 0.5);
}
#call-to-action {
	margin-top: 40px;
}

/* Contact Us */
#send-message {
	padding-top: 20px;
}
#location {
	padding-bottom: 50px;
}
#location .panel{
	height: 330px;
}
#location .panel-body {
	height: 100%;
}
address {
	font-size: 1.25em;
}

/* FAQ */
#faq {
	background-color: #428bca;
	min-height: 800px;
}
#faq h2 {
	color: white;
}
.panel-group .panel-heading {
	padding: 20px 15px;
}

/* Triangle of Success page */
#triangle-section {
	margin-bottom: 80px;
}

/* Footer */
.navbar {
	min-height: 40px;
}

/*
footer {
	color: #444;
    padding-top: 10px;
}
footer #copyright {
	margin-top: 10px;
}
footer p {
	margin-bottom: 0px;
}
*/

/* ===================================== */
/* new footer by keita                   */
/* ===================================== */
#footer {
	background: #222;
	padding: 6em 1em 4em;
}

#footer .container{
	padding: 0px;
}

#footer .row{
	margin: 0px;
}

#footer .icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

#footer .icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#footer .icon:active, 
#footer .icon:hover {
	text-decoration: none;
}

#footer .icon > .label {
	display: none;
}

#footer .icon.rounded {
	background-color: #383b43;
	border-radius: 100%;
	color: #ffffff;
	display: inline-block;
	height: 3.25em;
	line-height: 3.25em;
	text-align: center;
	width: 3.25em;
}

#footer .icon.rounded.big {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

#footer .icon.rounded.fa-twitter {
	background-color: #2daae4;
}

#footer .icon.rounded.fa-facebook {
	background-color: #39599f;
}

#footer .icon.rounded.fa-google-plus {
	background-color: #c91e1f;
}

#footer .icon.rounded.fa-dribbble {
	background-color: #c4376b;
}

#footer .icon.rounded.fa-instagram {
	background-color: #31516a;
}

#footer .icon.rounded.fa-tumblr, 
#footer .icon.rounded.fa-linkedin {
	background-color: #31516a;
}

#footer .icon.rounded.fa-rss {
	background-color: #f2600b;
}

#footer h2, #footer h3, #footer h4 {
	color: #ffffff;
}

#footer p, #footer a, #footer li {
	color: #cdced0;
}

#footer .links {
	border-bottom: 1px solid rgba(144, 144, 144, 0.25);
	margin-bottom: 4em;
	padding-bottom: 1em;
}

#footer .copyright {
	margin-top: 0.65em;
	padding: 0;
}

	#footer .copyright li {
		color: #858585;
		display: inline-block;
		list-style: none;
		margin-left: 0.5em;
		padding-left: 0.5em;
	}

		#footer .copyright li:first-child {
			margin-left: 0;
			padding-left: 0;
		}

	#footer .copyright a {
		color: #858585;
	}

#footer .icons {
	text-align: right;
	cursor: default;
    list-style: none;
    padding-left: 0;
    margin: 1em 0;
}

#footer .icons li{
	display: inline-block;
    padding: 0 1em 0 0;
}


#footer a.icon {
	color: #ffffff;
	font-size: 0.65em;
	height: 4em;
	line-height: 4em;
	width: 4em;
	cursor: pointer;
}

#footer a.icon:before {
	font-size: 2em;
}


ul#footer__company{
	text-align: left;
    margin-top: 0.65em;
	list-style: none;
	padding: 0px;
}

ul#footer__company li{
	padding: 0px;
	list-style: none;
	font-size: 1.0em;
	line-height: 2.0;
	display: inline-block;
	margin-right: 20px
}

ul#footer__company:after{
	content: '';
	display:block;
	clear: both;
}

#footer h3{
	text-align: left;
	margin: 0px;
}

/* ===================================== */
/* new footer by keita                   */
/* ===================================== */





/* Animation */
.animation{
	opacity: 0;
}
.animation.animated{
	opacity: 1;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	h1 {
		font-size: 40px;
	}
    #banner-overlay-title{
        margin-bottom: 10px;
    }
    #banner h2{
        font-size: 20px;
    }
	.strip {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.fa-5x {
		font-size: 4em;
	}

	.large-text{
		font-size: 33px;
		font-weight: bold;
		text-align: center;
		color: #428bca;
	}

	/*#banner-overlay-content {*/
		/*position: absolute;*/
		/*top: 30%;*/
		/*width: 55%;*/
	/*}*/
	/*#banner-overlay h1 {*/
		/*font-size: 24px;*/
	/*}*/
	/*#banner-overlay h2 {*/
		/*font-size: 18px;*/
	/*}*/

	#the-how .card {
		height: 400px;
	}
	.card-overlay {
		padding: 20px;
		padding-top: 40px;
	}
	#triangle-wrapper {
		margin: auto;
		width: 60%;
	}
	#triangle-details {
		margin-top: 20px;
	}
	#type-of-help {
		padding-bottom: 20px;
	}
	#type-of-help h1 {
		margin-bottom: 40px;
	}
	#type-of-help div.row {
		margin-left:  10px;
		margin-right: 10px;
	}

	#enroll h1 {
		margin-bottom: 40px;
	}
	#enroll div.row {
		margin-left:   10px;
		margin-right:  10px;
		margin-bottom: 40px;
	}
	#enroll p {
		font-size: 24px;
	}

	#learn-more p {
		font-size: 24px;
	}
	#learn-more h1 {
		margin-bottom: 40px;
	}
	#learn-more-inputs {
		margin: auto;
	}
	#learn-more-inputs input{
		max-width: 50%;
		display: inline;
	}
	#call-to-action {
		margin: 0px 5px;
	}
	#mc-embedded-subscribe {
		height: 46px;
	}

	#pricing {
		padding-top: 20px;
	}

	#faq {
		padding-top: 20px;
	}

	#location .panel {
		height: 100%;
	}
	#contact-map.panel {
		height: 330px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/*#banner-overlay-content {*/
		/*top: 15%;*/
		/*width: 60%;*/
	/*}*/
	/*#banner-overlay h1 {*/
		/*font-size: 56px;*/
	/*}*/
	/*#banner-overlay h2 {*/
		/*font-size: 24px;*/
	/*}*/
	.large-text{
		font-size: 44px;
	}
	#triangle-wrapper {
		margin: auto;
		width: 40%;
	}
	#faq {
		min-height: 1024px;
	}
	#the-how .card {
		height: 440px;
	}
	.card-overlay {
		padding: 80px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.strip h1 {
		margin-top: 20px;
	}
	.large-text{
		font-size: 66px;
	}
	#triangle-wrapper {
		width: 100%;
	}
	/*#banner-overlay h2 {*/
		/*font-size: 36px;*/
	/*}*/
	#pricing, #faq, #contact {
		padding-top: 40px;
	}
	#the-how .card {
		height: 440px;
	}
	.card-overlay {
		padding: 20px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/*#banner-overlay-content {*/
		/*top: 35%;*/
	/*}*/
}


/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
