<footer class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div id="copyright" class="container">
    <p class="text-center">&copy;2014 SuprAcademy</p>
  </div>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/bower_components/bootstrapValidator/dist/js/bootstrapValidator.min.js" | prepend: site.baseurl }}"></script>
  <!--
  <script src="{{ "/bower_components/imagemapster/dist/jquery.imagemapster.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/bower_components/imagemap-resizer/js/imageMapResizer.min.js" | prepend: site.baseurl }}"></script>
-->
  <script src="{{ "/bower_components/jquery.BlackAndWhite/jquery.BlackAndWhite.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/jQuery-rwdImageMaps/jquery.rwdImageMaps.min.js" | prepend: site.baseurl }}"></script>
</footer>
