<footer id="footer">
  <div class="container">
    
    <h3>SuprAcademy</h3>
    <ul id="footer__company">
      <li>720 Bathurst Street</li>
      <li>CSI – Annex</li>
      <li>Toronto, ON M5S 2R4</li>
      <li>P: 416-702-6908</li>
    </ul>

    <div class="row">
      <div class="8u 12u$(medium)">
        <ul class="copyright">
          <li>SuprAcademy &copy; All rights reserved.</li>
          <!-- <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
          <li>Images: <a href="http://unsplash.com">Unsplash</a></li> -->
        </ul>
      </div>
      <div class="4u$ 12u$(medium)">
        <ul class="icons">
          <li>
            <a class="icon rounded fa-facebook" href="https://www.facebook.com/supracademy" target="_blank"><span class="label">Facebook</span></a>
          </li>
          <li>
            <a class="icon rounded fa-twitter" href="https://twitter.com/supracademy" target="_blank"><span class="label">Twitter</span></a>
          </li>
          <li>
            <a class="icon rounded fa-google-plus" href="https://plus.google.com/+Supracademy/posts" target="_blank"><span class="label">Google+</span></a>
          </li>
          <li>
            <a class="icon rounded fa-instagram" href="https://www.instagram.com/supracademy/" target="_blank"><span class="label">LinkedIn</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>




  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/bower_components/bootstrapValidator/dist/js/bootstrapValidator.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/bower_components/animo.js/animo.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/waypoints.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/recaptcha.js" | prepend: site.baseurl }}"></script>
  <script src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

  <!--Live Chat-->
    <script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=88896583"></script>
 <style type="text/css">
 .divider{
    height:auto;
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}</style> 


</footer>