[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for film tape png
Type=Link
URL=https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiIiOa767PUAhXCjz4KHaJPD3UQjRwIBw&url=https%3A%2F%2Fpixabay.com%2Fen%2Ftape-movie-photogram-slide-1458416%2F&psig=AFQjCNEW8ElWiFuVC3bL-_fFv467BpZVRA&ust=1497200705757751
Icon=text-html
